@font-face {
    font-family: 'Sinkin';
    src: url('../font/sinkinsans-400regular-webfont.woff');
    src: url('../font/sinkinsans-400regular-webfont.woff2');
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: url('../image/abstractPic.jpg');
    background-size: cover;
}
h1
{
font-family: Sinkin,sans-serif,Arial;
font-size: 2em;
}
h3
{
    font: 1.5em;
    border-bottom: 1px solid black;
}
.fonts{color: orange;font-family: "Comic Sans MS",sans-serif,Arial;font-size: 1.5em;
    font-style: italic; font-weight: bold;}

    .colors{color: red;font-weight: bold;}

    .more{color: blue;text-decoration: underline;border: 1px dashed gray;background-color: #d69bbe;}

    .backgrounds{color: green;font-family: 'Trebuchet MS',sans-serif,Arial; font-size: 1.25em;}
    
    #outerwrapper{
        width: 650px; background-color: #e7dbf6; margin-left: auto; margin-right: auto;
    }
    nav{
        width: 175px; background-color: #e7dbf6;float: left;
    }
    article{
        margin-left: 175px;background-color: white;padding: 10px;
    }
    footer{
        font-size: 12px; text-align: center;margin-top: 10px;padding-bottom: 10px;
    }
    article ul li{
        list-style-image: url('../image/smallpeace.png');
    }