/*
Team Members: Yobani Vasquez and Peter 
Date: 12/2/2021
File Name: styles.css
*/

.bg-red {
    background-color: #780001;
}

.bg-light-blue {
     background-color: #ccd5e6;   
}

/* Show mobile class, hide tablet-desktop class and menu-links id */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
tr td a{color: black;}

/* Media Query for Tablet Viewport */
@media (min-width: 768px) {  

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
}