/* Yobani Vasquez 11/5/2021*/
@font-face {
    font-family: aileronregular;
    src: url(../fonts/aileron-regular-webfont.woff);
    src:url(../fonts/aileron-regular-webfont.woff2)
}

#nav{
    width: 100%; float: left; margin: 0 0 3em 0; padding:0;
    background-color: rgb(134, 133, 133);
}
#nav ul{
padding: 0;
margin: 0 auto;
list-style-type: none;
width: 800px;
} 

#nav li {
float: left;
}
#nav li a {
    display: block; padding: 14px 15px; text-decoration: none; font-weight: bold;
    color: black; border-right: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
    
}
#nav li a{
    border:  1px solid #ccc;
}
#nav li a:hover{
    color:rgb(228, 28, 28);
    background-image:linear-gradient(#ccc,rgba(187, 48, 48, 0.699));
    border-color:rgb(199, 43, 43);
}

.head {
    text-align: center; border:1px solid #ccc;
}
.head2 {
    text-align: center; border:1px solid #ccc;
}
.head img{
    border: 5px solid; border-color: #c72b2b;
}
.head2 img{
    border: 5px solid; border-color: #c72b2b;margin-left: 35px; margin-right: 35px;
}
body{background-color: #ccc; border: 2px solid black;
}
.paragraph1
{
    text-align: center; margin: 0 auto; text-align: justify; font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
    font-size: 20px; margin-left: 50px;margin-right: 50px; padding-bottom: 10px;} 
    
#paragraph1{
    text-align: center; margin: 0 auto; text-align: justify; font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
font-size: 20px; margin-left: 50px;margin-right: 50px; padding-bottom: 10px;} 

.header1{
    font-size: 45px; font-family: aileronregular,sans-serif,Arial,'Times New Roman', Times, serif;
    text-align: center;
}
.header2{
    font-family: aileronregular,Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
    text-align: center;
}
.header3{
    font-family: 'Roboto', sans-serif,Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
     text-align: center;
}
#nav2{
   text-align: center; margin-left: 33px;
}
footer{
text-align: center; padding: 10px;
}
footer img{
    padding-left: 20px;
}
hr{
    width: 70%;
}
#list1{
    display: table;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
     font-size: 20px; 
}
#div1 p{
    border: 1px solid black; padding: 12px; margin-bottom: 10px;
}
#div1 a:hover{
    color:rgb(228, 28, 28);
  
}
#div2{
 padding: 50px; font-family: Arial, Helvetica, sans-serif,Tahoma;
}
.contactfooter{
    font-family: Arial, Helvetica, sans-serif,Tahoma; font-size: .70em;
}
footer a:hover{
    color: rgb(228, 28, 28);
}
