/*Yobani Vasquez 10/29/2021*/
@font-face {
	font-family: quicksand;
	src: url(../fonts/quicksand-regular-webfont.woff);
	src: url(../fonts/quicksand-regular-webfont.woff2);
}
/* Did not end up using, left in just in case I want the website version of the italic font*/
@font-face {
	font-family: quicksanditalic;
	src: url(../fonts/quicksand-italic-webfont.woff);
	src: url(../fonts/quicksand-italic-webfont.woff2);
}
#outerwrapper {
width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

.floatleft { 
float: left;
margin-right: 3%;

}

.floatright {
float: right;
margin-left: 3%;

}

main{ 
clear: both;
background-color: #c5a98b;
padding: 10px;
}
footer{
	font-size: .75em;
	text-align: center;
	background-color: #987654;
	padding: 10px;
	clear: both;

}
/* using Arial as websafe font*/
body{
	background-color: #b8d1eb;
	color: #000000;
	font-family: 'Times New Roman', Times, serif,Arial;
}
body nav ul{
	list-style-type: none;
}
body header h1{
	font-family: 'Righteous', cursive,Arial;
	font-size: 55px;
}
body header h2{
	font-family:quicksand,sans-serif,Arial;
	font-weight: bold;
	font-style: italic;
}
body main ul
{
	list-style-image: url('../images/tomatoresize.png');
}